h2 {
    text-align: center;
    padding-top: 2em;
}
h3 {
    text-align: center;
}

.petfoods {
   padding-top: 2em
}

th, td {
    text-align: start;
}
th {
    background-color: #E5989B;
}
tr {
    border-top: solid;
    border-top-color: #B5838D;
}