.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background: #B5838D;
  color: #FFCDB2;
  text-align: center;
}

@media (orientation: landscape) {
  .footer {
    height: 10vh;
    line-height: 10vh;
  }
}

@media (orientation: portrait) {
  .footer {
    height: 10vh;
    line-height: 10vh;
  }
}
