a, a:visited {
    text-decoration: none !important;
    color: inherit !important;
}

.petCard {
    display: inline-block;
    border-radius: 5px;
    transition: all 0.1s ease-in-out;
}

.petCard:hover {
    text-decoration: none;
    transform: scale(1.025, 1.025);
    box-shadow: 0 0 5px 5px  #E5989B;
    filter: grayscale(20%) !important;
}

.petCard:active {
    transform: scale(1.015, 1.015);
    box-shadow: 0 0 8px 8px  #c58385;
    filter: none !important;
}

span:hover {
    cursor: pointer;
}